<div class="container mt-5 p-3 rounded-top cstm-light-text card-border">
    <div class="row justify-content-center">
        <div class="col-12 mb-2">
            <h2 id="recipe-name">{{recipe.title}}</h2>
        </div>
    </div>
</div>

<div class="container lg-card-body rounded-bottom p-5 mb-4">
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-3 position-relative">
                <img src="{{recipe.image}}" alt="{{recipe.title}}" id="image" class="card-img-top rounded-bottom">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-9">
                <h4>Ingredients:</h4>
                <ul>
                    {{#each recipe.ingredients}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="row justify-content-left">
                <div class="col-12 mt-4">
                    <p id="instructions">
                        {{recipe.instructions}}
                    </p>
                    <p id="recipe-author">
                       <span>Created By: <a href="/users/{{recipe.user.id}}">{{recipe.user.username}}</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 p-3 rounded-top cstm-light-text card-border">
    <div class="row justify-content-center">
        <div class="col-12 mb-2">
            <h2 id="comments">Comments</h2>
        </div>
    </div>
</div>

<div class="container lg-card-body rounded-bottom p-5 mb-4">
    <!-- Add Comments-->
    <div class="row justify-content-center mb-4">
        <div class="col-12">
            <form id="comment-form">
                <div class="form-group">
                    <label for="comment"><h6>Leave a Comment!</h6></label>
                    <textarea class="form-control mb-1" id="commentBody" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary cstm-btn">Submit</button>
            </form>
        </div>
    </div>

    <!-- User Comments -->
    {{#if recipe.comments.length}}
        {{#each recipe.comments}}
            <div class="card mb-3">
                <a href="/users/{{this.user.id}}"><div class="card-header">{{this.user.username}}</div></a>
                <div class="card-body">
                    <p class="card-text">{{this.body}}</p>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h6>No comments yet.</h6>
    {{/if}}
</div>

<script src="/js/comment.js"></script>
